<div class="row">

<div class="col-8">

<h1 class="d-flex justify-content-center">Followed Users Posts</h1>

<% if @posts.any? %>
<div class="row row-cols-1 row-cols-md-1 g-4">
  <% @posts.each do |post| %>
  <div class="col">
    <div class="card">
      <img src="https://via.placeholder.com/350x100" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"> <%= post.title %> </h5>
        <p class="card-text"> <%= truncate post.content, length:100 %> </p>
        <a href="/posts/<%= post.id %>" class="btn btn-primary text-dark">Read More</a>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% else %>
  <p>No posts yet.</p>
<% end %>

</div>

<div class="col">

<h2 class="d-flex justify-content-center">Users</h2>
  <% for user in @users %>
    <div class="d-flex justify-content-center">
      <%= link_to user.username, user_path(user) %>
    </div>
    <br/>
  <% end %>

</div>

</div>