<% if user_signed_in? %>

  <% controller.redirect_to users_feed_path %>

  <% else %>

    <div id="home-index" class="d-flex h-100 text-center text-white bg-dark" style="padding-bottom: 250px; padding-top: 250px;">
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

      <main class="px-3">
        <h1>Welcome To Largeium</h1>
        <p class="lead">
          We have <i class="text-danger"><%= @posts.count %> Posts </i> and <i class="text-danger"><%= @users.count %> Users </i>. Come on in.
        </p>
        <p class="lead">
          <a href="/users/sign_up" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Sign Up</a>
          <a href="/users/sign_in" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Login</a>
        </p>
      </main>

      <footer class="mt-auto text-white-50">
        <p>Built by <a href="https://github.com/osmanok" class="text-white" target="_blank">Osman Okuyan</a></p>
      </footer>
      </div>
    </div>

  <% end %>