<div class="btn-group">
  <h4 id="count">Point: <%= @post.vote%> </h4>
  
  <% unless current_user == @post.user %>
    <%= button_to 'ðŸ‘', up_post_url(@post), method: :patch, class: "btn"%> 
    <%= button_to 'ðŸ‘Ž', down_post_url(@post), method: :patch, class: "btn"%>
  <% end %>
  
</div>