<% if user_signed_in? %>
  <% controller.redirect_to users_feed_path %>
  <% else %>
  <div style="text-align: center" >
    <h1>Welcome to Largggeeium</h1>
    <h3>Login or Signup</h3>
  </div>
<% end %>